#google_image {
    padding-top: 109px;
    height: 92px;
    width: 272px;
}

#search_bar_border {
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    display: flex;
    width: 582px;

    #search_bar_input {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 20px;
        color: rgba(0,0,0,.87);
        outline: none;
        flex: 100%;
        // margin-top: -37px;
        font-size: 16px;
    }
}

.google_search {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.other_pages {
    align-items:center;
    color: rgb(34,34,34);
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    float: right;
    font-family: arial,sans-serif;
    font-size: 13px;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 181px;
    order: 1;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    user-select: none;
    white-space: nowrap;
    z-index: 987;
    width: 100%;

    a {
        color: rgba(0,0,0,.87);
        cursor: pointer;
        display: inline-block;
        font-family: arial,sans-serif;
        font-size: 13px;
        line-height: 24px;
        outline-color: rgba(0,0,0,.87);
        text-align: right;
        text-decoration-color: rgba(0,0,0,.87);
        text-decoration-line: none;
        text-decoration-style: solid;
        user-select:none;
        vertical-align: middle;
        white-space: nowrap;
        padding-left: 30px;
    }
}











